<div class="container-fluid">
  <div class="row p-4">
    <div class="col-md-4">
      <h3>Opciones de búsqueda</h3>
      <br>
      <mat-card class="mat-elevation-z8">
        <mat-card-content>
          <div class="row">

          </div>

        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-8 ">
      <h3>Buscar Cursos, talleres, diplomados</h3>
      <br>
      <mat-card class="mat-elevation-z8">
        <mat-card-content>
          <div class="row">

          </div>

        </mat-card-content>
      </mat-card>
    </div>
  </div>

</div>