<mat-toolbar class="navbar navbar-light static-top" style="background-color: rgba(0,140,208,0.7);">
  <button mat-button routerLink=""><h3>Tu Aula</h3></button>
</mat-toolbar>
<div class="basic-container"> 
  <div class="row">

    <div class="col-md-6">
      <h3>Mis Clases</h3>
      <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dsMisClases" matSort>
          <ng-container matColumnDef="nombreCurso">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Curso </th>
            <td mat-cell *matCellDef="let row"> {{row.nombreCurso}} </td>
          </ng-container>
          <ng-container matColumnDef="nombreUpz">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Upz </th>
            <td mat-cell *matCellDef="let row"> {{row.nombreUpz}} </td>
          </ng-container>
          <ng-container matColumnDef="fechaInicial">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Inicial </th>
            <td mat-cell *matCellDef="let row"> {{row.fechaInicial | date}} </td>
          </ng-container>
          <ng-container matColumnDef="fechaFinal">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Final </th>
            <td mat-cell *matCellDef="let row"> {{row.fechaFinal | date}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="misClasesColumnsToDisplay"></tr>
          <tr mat-row *matRowDef="let row; columns: misClasesColumnsToDisplay;" [routerLink]="['/mi-clase', row.id]"></tr>
        </table>
      
        <!-- <mat-paginator [pageSizeOptions]="[10, 25, 100]" showFirstLastButtons></mat-paginator> -->
      </div>      
    </div>

    <div class="col-md-6">
      <h3>Mis Cursos Sugeridos </h3>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dsMisClases" matSort>
        <ng-container matColumnDef="nombreCurso">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Curso </th>
          <td mat-cell *matCellDef="let row"> {{row.nombreCurso}} </td>
        </ng-container>
        <ng-container matColumnDef="nombreUpz">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Upz </th>
          <td mat-cell *matCellDef="let row"> {{row.nombreUpz}} </td>
        </ng-container>
        <ng-container matColumnDef="fechaInicial">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Inicial </th>
          <td mat-cell *matCellDef="let row"> {{row.fechaInicial | date}} </td>
        </ng-container>
        <ng-container matColumnDef="fechaFinal">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Final </th>
          <td mat-cell *matCellDef="let row"> {{row.fechaFinal | date}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="misClasesColumnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: misClasesColumnsToDisplay;" [routerLink]="['/mi-clase', row.id]"></tr>
      </table>
    
      <!-- <mat-paginator [pageSizeOptions]="[10, 25, 100]" showFirstLastButtons></mat-paginator> -->
    </div>      
  </div>
  </div>
</div>

