
<mat-toolbar class="mat-primary mat-hue-2">
  <button mat-button routerLink=""><h3>Tu Aula</h3></button>
</mat-toolbar>
<mat-progress-bar mode="indeterminate" [hidden]="apiService != undefined ? !apiService.loading : true"></mat-progress-bar>
<div class="basic-container">
  <div class="row">
    <div class="col-md-5 mx-auto">
      <mat-card >
        <mat-card-header>
          <mat-card-title>Registro</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-tab-group [selectedIndex]="selectedIndex">
            <mat-tab label="Usuario" [disabled]="selectedIndex != 0">
              <div class="container">
                  <mat-form-field>
                      <input matInput placeholder="Ingresa tu email" [(ngModel)]="usuario.email">
                  </mat-form-field>    
                  <mat-form-field>
                    <input matInput type="password" placeholder="Ingresa tu contraseña" [(ngModel)]="usuario.password">
                  </mat-form-field>    
                  <mat-form-field>
                      <input matInput type="password" placeholder="Repite tu contraseña" [(ngModel)]="repeticionDePassword">
                  </mat-form-field>    
                  <mat-form-field>
                      <input matInput placeholder="Nombre" [(ngModel)]="usuario.nombre">
                  </mat-form-field>    
                  <mat-form-field>
                      <input matInput placeholder="Apellido" [(ngModel)]="usuario.apellido">
                  </mat-form-field>  
                  <mat-form-field>
                    <input matInput [matDatepicker]="picker" placeholder="Fecha de nacimiento" [(ngModel)]="usuario.fechaDeNacimiento">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>                
                  <mat-form-field>
                      <input matInput placeholder="Dirección" [(ngModel)]="usuario.direccion">
                  </mat-form-field>  
                  <mat-form-field>
                      <input matInput placeholder="Telefono" [(ngModel)]="usuario.telefono">
                  </mat-form-field>  
                </div>
            </mat-tab>
            <mat-tab label="UPZ preferidas" [disabled]="selectedIndex != 1"> 
              <mat-list >
                <mat-list-item *ngFor="let upz of upzs"><mat-checkbox>{{upz.name}}</mat-checkbox></mat-list-item>                
              </mat-list>            
            </mat-tab>
            <mat-tab label="Categorías preferidas" [disabled]="selectedIndex != 2">
              <mat-list>
                  <mat-list-item *ngFor="let categoria of categorias"><mat-checkbox>{{categoria.name}}</mat-checkbox></mat-list-item>                  
              </mat-list>            
            </mat-tab>
          </mat-tab-group>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button *ngIf="selectedIndex > 0" (click)="onBack()">Back</button>
          <button mat-button *ngIf="selectedIndex < 2" (click)="onNext()">Next</button>
          <button mat-button *ngIf="selectedIndex == 2">Registrarse</button>
          <button mat-button routerLink="">Cancelar</button>
        </mat-card-actions>
      </mat-card>
        </div>
  </div>
</div>
