<mat-toolbar class="mat-primary mat-hue-2">
  <button mat-button routerLink=""><h3>Tu Aula</h3></button>
</mat-toolbar>
<div class="basic-container">
  <div class="row">
    <div class="col-md-5 mx-auto">
      <mat-card >
       
        <mat-card-content>
          <mat-tab-group [selectedIndex]="selectedIndex">
            <mat-tab label="Usuario" [disabled]="selectedIndex != 0">
              <div class="container">    
                <div class="row">             
                    <label class="col">Nombre</label>
                      <p class="col">Sergio Ortiz</p>
                    </div>
                </div>
            </mat-tab>
            
          </mat-tab-group>
        </mat-card-content>
        
      </mat-card>
        </div>
  </div>
</div>
