
  <!-- Navigation -->
  <nav class="navbar navbar-light static-top" style="background-color: rgba(0,140,208,0.7);">
    <div class="container">
      <a class="navbar-brand text-white" href="#">
        <img src="./assets/img/LogotipoTuAula2.png" alt=""/>
      </a>
      <div class="text-lg-right">
       <a class="btn btn-primary" routerLink="/login">Iniciar sesión</a>
       <a class="btn btn-success" routerLink="/registro">Regístrate</a>
      </div>
      
    </div>
  </nav>
  
  <!-- Masthead -->
  <header class="masthead text-white text-center" >
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Encuentra una amplia gama de oportunidades para tu formación académica y personal</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input type="email" class="form-control form-control-lg" placeholder="Ingresa tu correo electrónico...">
              </div>
              <div class="col-12 col-md-3">
                <button type="submit" class="btn btn-block btn-lg btn-primary">¡Iniciar sesión!</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>

  <!-- Icons Grid -->
  <section class="features-icons text-center">
    
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-screen-desktop m-auto text-primary"></i>
            </div>
            <h3>Cursos virtuales</h3>
            <p class="lead mb-0">Podrás informarte e inscribirte a una larga lista de cursos virtuales</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
             <i class="icon-check m-auto text-primary"></i>
            </div>
            <h3>Cursos y talleres presenciales</h3>
            <p class="lead mb-0">Te ofrecemos la posibilidad de enterarte y participar en talleres y cursos ofrecidos por diversidad de entidades públicas de la localidad de Chapinero</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
               <i class="icon-layers m-auto text-primary"></i>                
            </div>
            <h3>Recursos Bibliográficos</h3>
            <p class="lead mb-0">Encuentra libros, artículos y textos de múltiples áreas del conocimiento</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Image Showcases -->
  <section class="showcase">
    <div class="container-fluid p-0" >
      <div class="row no-gutters" style="background-color: rgba(0, 140, 208, 0.9);">

        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/assets/img/cursoVirtual.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text text-white">
          <h2>Aprendizaje virtual</h2>
          <p class="lead mb-0 text-justify">
            Tendrás acceso a una larga lista de cursos virtuales de una diversidad de áreas del conocimiento académico, cutural y artístico. Ello te permitirá fortalecer tus conocimientos en temas de tu interés e, incluso, certificarte en determinados campos. 
          </p>
        </div>
      </div>
      <div class="row no-gutters" style="background-color: rgba(0,140,208,0.1);">
        <div class="col-lg-6 text-white showcase-img" style="background-image: url('/assets/img/Talleres2.jpg');"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>Cursos, talleres y diplomados presenciales</h2>
          <p class="lead mb-0 text-justify">Dispondrás de la oportunidad de inscribirte a cursos y talleres presenciales en espacios como la Casa de Juventud de Chapinero o las bibliotecas comunitarias. Lugares donde la cultura, el arte, la tecnología, la música y muchos otros temas se instauran y se abren al acceso de todos y todas. Disfruta de clases de baile, talleres de guitarra y serigrafía, talleres en Derechos Humanos, entre otros. </p>
        </div>
      </div>
      <div class="row no-gutters" style="background-color: rgba(0, 140, 208, 0.9);">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/assets/img/biblioteca.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text text-white">
          <h2>Catálogo online y Bases de Datos académicas</h2>
          <p class="lead mb-0 text-justify">¿Necesitas información y no sabes dónde encontrarla? Busca en nuestro catálogo unificado de las bibliotecas comunitarias de la localidad y sé dirigido diréctamente a aquella donde está el texto que puede ayudarte. Y si ello no funciona, accede a una lista de bases de datos académicas gratuitas, donde podrás encontrar libros, artículos científicos, y muchos otros recursos bibliográficos, que te permitirán profundizar en el tema que necesites. </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Testimonials -->
  <section class="testimonials text-center " style="background-color: rgba(0,140,208,0.1);">
    <div class="container" >
      <h2 class="mb-5">Lo que opina la gente...</h2>
      <div class="row">
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img src="./assets/img/niñoEditado.jpg" class="img-fluid rounded-circle mb-3" alt=""/>
              <!-- <%= image_tag 'niñoEditado.jpg', class: "img-fluid rounded-circle mb-3" %>               -->
            <h5>Pedrito T.</h5>
            <p class="font-weight-normal mb-0">"¡Disfruté mucho los cursos! ¡Muchas gracias!"</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img src="./assets/img/chicaJoven.jpg" class="img-fluid rounded-circle mb-3" alt=""/>
          <!-- <%= image_tag 'chicaJoven.jpg', class: "img-fluid rounded-circle mb-3" %>              -->
            <h5>Laura S.</h5>
            <p class="font-weight-normal mb-0">"Me fue increíblemente útil el acceso a los recursos bibliográficos."</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img src="./assets/img/Señor.png" class="img-fluid rounded-circle mb-3" alt=""/>
          <!-- <%= image_tag 'Señor.png', class: "img-fluid rounded-circle mb-3" %>              -->
            <h5>Alberto	G.</h5>
            <p class="font-weight-normal mb-0">"Gracias por extender el alcance de los cursos, sin ustedes no habría tenido esa gran experiencia de aprendizaje."</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Descarga App -->

  <section class="call-to-action2 text-center">
   
    <div class="container">
      <div class="row">
        <div class="col mx-auto text-lg-right">
            <img src="./assets/img/descarga1.jpg" class="img-fluid rounded-circle mb-3" alt=""/>
          <!-- <%= image_tag 'descarga1.jpg', class: "img-fluid rounded-circle mb-3" %> -->
        </div>
        <div class="col mx-auto text-lg-left">
          <h2 class="mb-4">Descarga la App Tu Aula y lleva la información de tus cursos siempre contigo</h2>
          <a style="float: center" href="#" target="_blank"><button class="googleplay" style="background-image: url('/assets/img/googleplay1.png');"></button></a>
          <br>
          <br>
          <a style="float: center" href="#" target="_blank"><button class="applestore" style="background-image: url('/assets/img/appstore.png');"></button></a>
        </div>
      </div>
    </div>
  </section>

  <!-- Call to Action -->

  <section class="call-to-action text-white text-center">
  
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">¿Listo para empezar? ¡Inscríbete ahora!</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input type="email" class="form-control form-control-lg" placeholder="Ingresa tu correo electrónico...">
              </div>
              <div class="col-12 col-md-3">
                <button type="submit" class="btn btn-block btn-lg btn-primary">¡Iniciar sesión!</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  


  <!-- Footer -->
  <footer class="footer" style="background-color: rgb(0,140,208); " >
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left text-white">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="#" class="text-white">Acerca de</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#" class="text-white">Contacto</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#" class="text-white">Términos de uso</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#" class="text-white">Política de privacidad</a>
            </li>
          </ul>
          <p class="small mb-4 mb-lg-0 text-dark">&copy; Tu Aula  2018. Todos los derechos reservados.</p>
        </div>
        
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fa fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fa fa-twitter fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="scripts/jquery.min.js"></script>
  <script src="scripts/bootstrap.bundle.min.js"></script>
