<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [(opened)]="sidenavOpened" role="navigation">
        <mat-toolbar color="accent">
            <h3>Menu</h3>
        </mat-toolbar>
        <mat-list role="list"  class="p-1">
            <mat-list-item role="listitem">
                <button mat-button routerLink="/">
                    <mat-icon>home</mat-icon>
                    <span> Home</span>
                </button>
            </mat-list-item>
            <mat-list-item role="listitem">
                <button mat-button routerLink="/dashboard">
                    <mat-icon>dialpad</mat-icon>
                    <span> Dashboard</span>
                </button>
            </mat-list-item>
            <mat-list-item role="listitem">
                <button mat-button routerLink="/buscarCursos">
                    <mat-icon>search</mat-icon>
                    <span> Buscar Clases</span>
                </button>
            </mat-list-item>
            <mat-list-item role="listitem">
                <button mat-button>
                    <mat-icon>add_circle_outline</mat-icon>
                    <span> Sugerir</span>
                </button>
            </mat-list-item>
            <mat-list-item role="listitem">
                <button mat-button routerLink="/usuario">
                    <mat-icon>ballot</mat-icon>
                    <span> Cuenta</span>
                </button>
            </mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content role="main">
        <mat-toolbar color="primary" *ngIf="showToolbar">
            <button mat-button (click)="sidenav.toggle()" *ngIf="userLogedIn">
                <mat-icon>menu</mat-icon>
            </button>
            <h3>Tu Aula</h3>
        </mat-toolbar>
        <router-outlet></router-outlet>
        <notifier-container></notifier-container>
    </mat-sidenav-content>
</mat-sidenav-container>