<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [(opened)]="sidenavOpened" style="width: 200px" class="p-1">
        <mat-list role="list">
            <mat-list-item role="listitem">
                <button mat-button routerLink="/">
                    <mat-icon>home</mat-icon>
                    <span> Home</span>
                </button>
            </mat-list-item>
            <mat-list-item role="listitem">
                <button mat-button routerLink="/dashboard">
                    <mat-icon>dialpad</mat-icon>
                    <span> Dashboard</span>
                </button>
            </mat-list-item>
            <mat-list-item role="listitem">
                <button mat-button routerLink="/dashboard">
                    <mat-icon>search</mat-icon>
                    <span> Buscar Clases</span>
                </button>
            </mat-list-item>
            <mat-list-item role="listitem">
                <button mat-button>
                    <mat-icon>add_circle_outline</mat-icon>
                    <span> Sugerir</span>
                </button>
            </mat-list-item>
            <mat-list-item role="listitem">
                <button mat-button>
                    <mat-icon>ballot</mat-icon>
                    <span> Cuenta</span>
                </button>
            </mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="navbar navbar-light static-top" style="background-color: rgba(0,140,208,0.7);" *ngIf="!isLandingPage">
            <button mat-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <!-- <button mat-button routerLink=""><h3>Tu Aula</h3></button> -->
        </mat-toolbar>
        <router-outlet></router-outlet>
        <notifier-container></notifier-container>
    </mat-sidenav-content>
</mat-sidenav-container>