@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/* @import 'assets/stylesheets/custom-theme.scss'; */

body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 30px;
}

/* .container {
  display: flex;
  flex-direction: column;
  padding: 15px
} */

/* .container > * {
  width: 100%;
} */

