/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */
@import '~angular-notifier/styles/core.css';
@import '~angular-notifier/styles/themes/theme-material.css';
@import '~angular-notifier/styles/types/type-error.css';
@import '~angular-notifier/styles/types/type-info.css';
@import '~angular-notifier/styles/types/type-success.css';
@import '~angular-notifier/styles/types/type-warning.css';

body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  /* height: 100%; */
}

.mat-row:hover {
  background-color: whitesmoke;
  cursor: pointer;
}

/* .container-fluid,
.row { height: inherit; } */